    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: #f1f1f1;
    }
    
    #regForm {
        background: white;
        box-shadow: 1px 0px 5px 0px rgb(156 156 156 / 62%);
        -moz-box-shadow: 1px 0px 5px 0px rgb(156 156 156 / 62%);
        -webkit-box-shadow: 1px 0px 5px 0px rgb(156 156 156 / 62%);
        border-radius: 14px;
        width: 40%; 
        float: right;
        margin-right: 10em;
        padding: 30px 10px 20px 30px;
        margin-top: 2em;
        margin-bottom: 2em;
    }


    @media screen and (max-width: 1000px) {
        #regForm {
            background: white;
            box-shadow: 1px 0px 5px 0px rgb(156 156 156 / 62%);
            -moz-box-shadow: 1px 0px 5px 0px rgb(156 156 156 / 62%);
            -webkit-box-shadow: 1px 0px 5px 0px rgb(156 156 156 / 62%);
            border-radius: 14px;
            width: 100%; 
            float: unset;
            display: flexbox;
            margin-right: unset;
            padding: 30px 10px 20px 30px;
            margin-top: 2em;
            margin-bottom: 2em;
            
            
      
        }
      }
    
    h1 {
        text-align: center;  
    }
    
    input {
        padding: 7px;
        width: 100%;
        font-size: 12px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }
    
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    .tab {
        display: none;
    }
    
    button {
        background-color: #04AA6D;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
        width: 100%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    #prevBtn {
        background-color: #bbbbbb;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }
    
    .step.active {
        opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #04AA6D;
    }